* {
  box-sizing: border-box;
  margin: 0;
}
.faq {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  gap: 20px;
}
.grid-item {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  background-color: blue;
  color: white;
}
